*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

@layer base {

    p,
    button {
        color: black
    }
}

main {
    max-width: 1920px;
    margin-inline: auto;
    min-height: 100svh;
    width: 100%;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    #current-player {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px;
        margin-top: 40px;
    }

    #undo-btn {
        width: 150px;
        border-radius: 5px;
        padding: 8px;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.7) 0 0;
        font-weight: 600;
        border: 2px solid #cccccc87;
        cursor: pointer;
        transition: transform 0.2s ease-in;
        transform: translateY(50px);

        &:hover {
            transform: translateY(51px) scale(1.1);
        }

        &:-webkit-disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}

.O {
    background-color: #A0E8B0;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        border-radius: 100%;
        z-index: 150;
        background-color: #ffffff;
        height: 70px;
        width: 70px;
    }
}

.X {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        position: absolute;
        transform: rotate(-140deg);
        content: "";
        background-color: #FF6B6B;
        height: 100px;
        width: 15px;
    }

    &::before {
        position: absolute;
        transform: rotate(140deg);
        content: "";
        background-color: #FF6B6B;
        height: 100px;
        width: 15px;
    }
}

.tic-tac-toe-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 15px;
    border: solid 3px #f1f1f1;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    height: 400px;
    width: 400px;
    background-color:
        #FAFAFA;

    .cell {
        border: 2px solid #E0E0E0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 60px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }

    }

    .cell:nth-child(9),
    .cell:nth-child(7),
    .cell:nth-child(8) {
        border-bottom: none;
    }

    .cell:nth-child(1),
    .cell:nth-child(2),
    .cell:nth-child(3) {
        border-top: none;
    }

    .cell:nth-child(4) {
        border-left: none;
    }

    .cell:nth-child(6) {
        border-right: none;
    }

    .cell:nth-child(7) {
        border-left: none;
    }

    .cell:nth-child(9) {
        border-right: none;
    }

    .cell:nth-child(1) {
        border-left: none;
    }

    .cell:nth-child(3) {
        border-right: none;
    }

}

.reset-btn {
    font-weight: 900;
    transition: background-color 0.2s, color 0.2s, transform 0.2s, width 0.2s;
    padding: 8px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    width: 200px;
    cursor: pointer !important;
    border-radius: 5px;
    display: none;

    &:hover {
        background-color: #FF6B6B;
        border: none;
        width: 250px;
        transform: scale(1.05);
    }
}

.span-2 {
    flex: 2;
}

.span-1 {
    flex: 1;
}

.span-3 {
    flex: 3;
}

.element-center {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.flex-col {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex {
    display: flex;
}

.mt-100 {
    margin-top: 100px;
}

.result-board {
    display: grid;
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    justify-items: center;

    .result {
        display: grid;
        gap: 30px;
        margin-top: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        justify-items: center;
    }
}